<ul class="flexbox row flatnav">
  <li class="howto">
    <a class="link" href="/">the axis 2000</a>
  </li>
  <li class="instructions">
    <a class="link" href="/tag/hints/">helpful hints</a>
  </li>
  <li class="story">
    <a class="link" href="/tag/instructions/">instructions</a>
  </li>
</ul>
