{{!< default}}
<h2 class="separator">Patent Information</h2>
<p>
  The AXIS 2000 system is protected by US Patent #9386804. We're legally obliged to let you know that, but we also take a lot of pride in the product and want to share that with you. Please let us know if you have any questions by reaching out to us through the contact details at the bottom of the website.
</p>
