<div class="share-wrapper">
  <div class="flexbox row share-segment">
    <div class="social-out">
      <a href="https://www.facebook.com/Axis2000">
        <img class="share-social" src="{{asset "/images/facebook-icon.png"}}"></a>
    </div>
    <div class="social-out">
      <a href="https://www.instagram.com/theaxis2000/">
        <img class="share-social" src="{{ asset "/images/instagram-icon.png"}} "></a>
    </div>
  </div>
  <div class="flexbox row share-segment">
    <div class="contact-item"><p>POST OFFICE MAIL</p>
      <p>The AXIS 2000</p>
      <p>72 E. 2nd Street, Mineola, NY  11501</p>
    </div>
    <div class="contact-item">
      <p>CUSTOMER SERVICE</p>
      <p>Peter</p>
      <p>800-445-0525</p>
    </div>
    <div class="contact-item">
      <p>SALES</p>
      <p>Greg</p>
      <p>800-445-0525</p>
    </div>
    <div class="contact-item">
      <p>EMAIL</p>
      <p><a href="mailto:sales@theAxis2000.com?Subject=Axis%20connection" style="color: orange;">sales@theAxis2000.com</a></p>
    </div>
  </div>
</div>
