{{! This is the testimonial loop}}
{{#foreach posts}}
{{#has tag="axis customer testimonials"}}
<article class="flexbox testimonial" {{#if image}}style="background-image: url({{image}})"{{/if}}>
  <div>
    <div class="flexbox overlay">
      {{content}}
    </div>
  </div>
</article>
{{/has}}
{{/foreach}}



<!-- <section class="flexbox row pair">
    <div class="pair-content">{{content}}</div>
    <img class="pair-image" src="{{image}}" alt="" />
</section> -->
