/* ==========================================================================
   Casper Starter - Add you custom CSS here
   ========================================================================== */
/* flex */
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;

  .row {
    flex-direction: row wrap;
  }

  .column {
    flex-direction: column;
  }
}
/* default layout */
.site-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.site-wrapper > * {
  flex: 1 100%;
}

.main-header {
  background: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  h1 {
    padding-top: 3em;
  }

  h2 {
    padding-top: 1.5em;
  }
}

.youtube_intro {
  flex: 1 100%;
  height: 15em;
  background: coral;
}

.flexbox.row.pair {
  background: lightgrey;
  flex-flow: row wrap;
  flex: 1 auto;
  .pair-content {
    flex: 2 1 25%;
    padding: 1em 2em;
    // p:first-child {
    //
    // }
  }
  img {
  }
  .pair-image {
    flex: 2 1 25%;
    // margin: 10em 0 10em 0;
  }

  .left {
    order: -1;
    margin: 10em 4em 10em 0;
  }
}

.footer {
  background: lightgreen;
}

.main {
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto;}
}
@media all and (min-width: 800px) {
  .main {flex: 3 px;}
  .aside-1 { order: 2;}
  .main { order: 1;}
  .aside-2 { order: 3;}
  .footer { order: 4;}
}


/* testimonial_loop partial */
.testimonial_loop {
  background-color: black;
}

.testimonial {
  width: 50%;
  height:90vh;

  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px red dashed;

  div {
    border: 1px pink dashed;
  }
}








/* share partial */
.share-container {
  display: flex;
  flex-flow: column;
}
.share-segment {
  justify-content: center;
  display: flex;
  flex-flow: row;
}

.contact-item {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;

  padding: .5rem;
  p {
    text-align: center;
  }
}

.share-social {
  height: 10em;
}
